html {
    background-color: #1e1e1e;
}

body {
    /* background properties */
    margin:5%;
    padding: 40px;
    background-color: #fefefe;
    box-shadow: 0 0 35px 8px #fefefe;
    /* text properties */
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #1d1e20;

    width: 730px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 650px;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 32.5px;
    padding-bottom: 0;
    margin: 0;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 650px;
    height: 150px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    /* text properties */
    font-family: "Roboto Mono", "Courier", monospace;
    font-size: 20px;
    font-weight: 400;
    /* padding */
    padding-bottom: 8px;    
    animation: typing 4s steps(31);
    overflow: hidden;
    white-space: nowrap;
}

p {
    line-height: 1.6;
}

div {
    margin-bottom: auto;
}

.header__title {
    /* text properties */
    font-family: "Roboto Mono", "Courier", monospace;
    font-size: 36px;
    font-weight: 700;
    /* positioning */
    text-align: center;
    /* padding */
    padding-top: 8px;
    padding-bottom: 8px;
}

.header__author {
    /* text properties */
    font-family: "Roboto Mono", "Courier", monospace;
    font-weight: 700;
    color: #909095;
    line-height: 1;
    /* positioning */
    text-align: center;
    /* padding reset */
    padding-left: 0;
    margin-bottom: 0;
    /* padding reset */
    padding-top: 8px;
    padding-bottom: 8px;
}

.ui {
    padding-top: 16px;
}

.main__rule-01,
.main__rule-02,
.main__rule-03,
.main__rule-04,
.main__rule-05,
.main__rule-06,
.main__rule-07,
.main__rule-08,
.main__rule-09,
.main__rule-10 {
    padding-top: 0;
}

.monospace {
    font-family: "Roboto Mono", "Courier", monospace;
    animation: typing 4s steps(31);
    overflow: hidden;
    white-space: nowrap;
}

.no-animation {
    animation: none;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

