html {
    background-color: #f5f5f7;
}

body {
    /* background properties */
    margin:5%;
    padding: 5%;
    background-color: #fefefe;
    /* text properties */
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #1d1e20;
}

